html {
    background-color: #f2f7ff;
    font-family: 'DM Mono', monospace;

}

body {
    margin: 30px;
}

ul {
    padding: 0;
}

li {
    display: inline;
    margin-right: 5vw;
}

a:hover {
    background-color: coral;

}


table {
    padding-top: 3vh;
}

td {
    padding: 0 5vw 2vh 0;
    text-align: left;
    color: darkslategrey;
}

th {
    font-weight: bold;
    padding: 0 5vw 2vh 0;
    text-align: left;

}

.asd {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(20px, auto);
    row-gap: 15px;
}

.button-book {
    width: 100%;
}

.button-book:hover {
    background-color: coral;
}

.coral-bck {
    background-color: coral;
    width: fit-content;
}

.button-picker {
    width: 15%;
    margin-top: 1%;
    background-color: white;
    font-size: 15px;
}

.button-picker:hover {
    background-color: coral;
}
