{% extends "base.html" %}

{% block content %}
  <main>
    <h1>Pick a date</h1>
        <div>
          {% for date in dates %}
          <div>
            <form method="post" action="{% url 'update_date' reservation.id %}">
            {% csrf_token %}
            <input type="hidden" name="date" value={{ date|date:'Y,m,d,H' }}>
            <button class="button-picker">{{ date|date:'M, d' }}</button>
            </form>
          </div>
          {% endfor %}
        </div>

  </main>
{% endblock content %}
