{% extends "base.html" %}

{% block content %}
  <main>
    <div>
        <p>Reservation by: {{ reservation.user }}</p>
        <p>Reserved on: {{ reservation.reserved_on }}</p>
        <p>Address: {{ reservation.address }}</p>
        <h1>Reservation for:</h1>
        <h1 class="coral-bck">{{ reservation.service_date_time }}</h1>
    </div>
    {% if past %}
    {% else %}
    <h2><a href="{% url 'date_pick' reservation.pk %}">Modify Date / Time</a></td>
    <h2><a href="{% url 'reservation_delete' reservation.pk %}">Delete Reservation</a></td>
    {% endif %}



  </main>
{% endblock content %}
