{% extends "base.html" %}

{% block content %}
  <main>
    <div>
        <p>Reservation by: {{ reservation.user }}</p1>
        <p>Reserved on: {{ reservation.reserved_on }}</p1>
        <h1>Reservation for:</h1>
        <h1 class="coral-bck">{{ reservation.service_date_time }}</h1>
    </div>
    <h2><a href="{% url 'datetime' reservation.pk %}">Modify Date / Time</a></td>
    <h2><a href="{% url 'reservation_delete' reservation.pk %}">Delete Reservation</a></td>



  </main>
{% endblock content %}
