{% extends "base.html" %}

{% block content %}
    <main>
        <h1>My Reservations</h1>
        {% if reservations %}
        <table>
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Reservation</th>
                </tr>
            </thead>
            {% for reservation in reservations|dictsort:"service_date_time" %}
            <tbody>
                <tr class="button-book">
                    <td><a href="{% url 'detail' reservation.pk %}">{{ reservation.building_num }} {{ reservation.street }} {{ reservation.apt_num }} </a></td>
                    <td><a href="{% url 'detail' reservation.pk %}">{{ reservation.service_date_time|date:"N j" }} at {{ reservation.service_date_time|date:"g a" }} </a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
        <h2><a href="{% url 'create_reservation' %}">+ Make a new reservation</a><h2>
    </main>
{% endblock content %}
