{% extends "base.html" %}

{% block content %}
    <main>
        <div class="wrapper-address">
            {% if address %}
            <table class="table-address">
                <tr>
                    <td>Your address:</td>
                    <td><span class="address-update">{{ address }}<br> New York, NY</span></td>
                    <td><a class="button" href="{% url 'add_address' %}">Update Address</a></td>
                </tr>
            </table>
        </div>
        <h1>Past Reservations</h1>
        {% if reservations %}
        <table>
            {% for reservation in reservations|dictsort:"service_date_time" %}
            <tr class="wrapper-address">
                <td><a href="{% url 'detail' reservation.pk %}">{{ reservation.service_date_time|date:"N j" }} at {{ reservation.service_date_time|date:"g a" }}</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <h2><a href="{% url 'new_date_pick' %}">+ Make a new reservation</a><h2>
        {% else %}
        <h2><a href="{% url 'add_address' %}">+ Add home address</a><h2>
        {% endif %}
    </main>
{% endblock content %}
