{% extends "base.html" %}

{% block content %}
  <main>
    <h1>Pick a time</h1>
        <div>
          {% for time in times %}
          <div>
            <form method="post" action="{% url 'update_time' reservation.id %}">
            {% csrf_token %}
            <input type="hidden" name="time" value={{ time|date:'Y,m,d,H' }}>
            <button class="button-picker">{{ time|date:'g A' }}</button>
            </form>
          </div>
          {% endfor %}
        </div>

  </main>
{% endblock content %}
