{% extends "base.html" %}

{% block content %}
  <main>
    <div>
        <h1>Add Address</h1>

        <form method="post">
        {% csrf_token %}
        <table>
          <tr>
            <td>Building Number:</td>
            <td><input type="text" name="building_num"></td>
          </tr>
          <tr>
            <td>Street:</td>
            <td><input type="text" name="street"></td>
          </tr>
          <tr>
            <td>Apt Number:</td>
            <td><input type="text" name="apt_num"></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div>
                <button class="button-book">Add</button>
              </div>
            </td>
          </tr>
        </table>
        </form>

    </div>
  </main>
{% endblock content %}
